<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Panier</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ec49bce93b.js"></script>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body class="panier">

    <header class="col-10 offset-1 justify-content-center">
        <div class="row heading">
            <img src="/images/bike-logo.svg" alt="">
            <h2>my basket</h2>
        </div>
    </header>

    <main class="col-10 offset-1 justify-content-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basket</li>
            </ol>
        </nav>
        <div class="container">
            <h2>Basket</h2>
            <table class="table col-10">
                <thead>
                    <tr>
                    <th scope="col">Picture</th>
                    <th scope="col" class="d-none d-md-block">Model</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="d-none d-md-block">Total</th>
                    <th scope="col">Suppr</th>
                    </tr>
                </thead>
                <tbody>
                <% 
                    var totalPrice = 0;

                    for(var i = 0; i<boughtBike.length ; i++){ 

                        var totalPriceUnit = boughtBike[i].quantity * boughtBike[i].price;

                        totalPrice = totalPrice + totalPriceUnit;
                        %>

                    <tr>
                        <td>
                            <img src="<%= boughtBike[i].image %>" alt="">
                        </td>
                        <td class="d-none d-md-block">
                            <%= boughtBike[i].model %>
                        </td>
                        <td class='quantity'>
                            <form action="/update" method="POST">
                                <input type="text" value="<%= boughtBike[i].quantity %>" name="quantity">
                                <button type="submit" name="position" href="" value="<%= i %>" class="btn btn-outline-info"><i class="fas fa-sync"></i></button> 
                            </form>
                        </td>
                        <td class='price'>
                            <%= boughtBike[i].price %> €
                        </td>
                        <td class="d-none d-md-block total">
                            <%= totalPriceUnit %> €
                        </td>
                        <td><a href="/deleteitem?position=<%=i%>" class="btn btn-outline-info"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total = <%= totalPrice %></td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../javascripts/script.js"></script>
</body>

</html>
